/* 
    Ross Robino
    Personal Website
    linked to index.html

    background images from https://www.toptal.com/designers/subtlepatterns/
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

a:link {
    color: #fcfcfc;
}

a:visited {
    color: #fcfcfc;
}

a:hover {
    color: #d1231a;
}

a:active {
    color: #fcfcfc;
}

body {
    color: #0e1317;
    font-family: 'Noto Sans Display', sans-serif;
    cursor: default;
}

footer {
    background-image: url(../images/ep_naturalblack.png);
    color: #fcfcfc;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline-block;
    font-size: 1.5em;
    padding: 1em;
}

#gallery {
    column-count:3;
    column-gap:0;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    display: block;
}

h1 {
    font-size: 32px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: 'Mansalva', sans-serif;
    color: #fcfcfc;
    background-image: url(../images/ep_naturalblack.png);
    position: relative;
}

hr{
    height: 3px;
    background-color: #0e1317;
    border: none;
}

#intro {
    text-align: center;
    padding: 15vh;
    color: #0e1317;

}

main {
    background-color: #fcfcfc;
}

#skills ul {
    text-align: center;
    background-image: url(../images/so-white.png);
}

#skills li {
    display: inline-block;
    font-size: 1.5em;
    padding: 1em;
}

/* ----Media Queries---- */
@media only screen and (max-width: 450px) {
    #gallery {
        column-count: 1;
    }
    #intro {
        padding: 4vh;
    }
 }