/* background image from https://www.toptal.com/designers/subtlepatterns/ */

@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

a {
    color: #fcfcfc;
}

a:hover {
    color: #d1231a;
}

body {
    color: #0e1317;
    font-family: 'Noto Sans', sans-serif;
    cursor: default;
    background-image: url(../images/ep_naturalblack.webp);
}

footer {
    color: #fcfcfc;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline-block;
    font-size: 1.5em;
    padding: 1em;
}

#gallery {
    column-count: 3;
    column-gap: 0;
}

#gallery img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-size: 5rem;
    padding: 1rem;
    font-family: 'Mansalva', sans-serif;
    text-align: center;
    color: #fcfcfc;
}

hr{
    height: 3px;
    background-color: #0e1317;
    border: none;
}

#intro {
    text-align: center;
    padding: 2rem 15vw;
}

main {
    background-color: #fcfcfc;
}

.material-icons.md-rem { font-size: 1.3rem }

::selection {
    background-color: rgb(209, 35, 26);
    color: #fcfcfc;
}

#skills ul {
    text-align: center;
}

#skills li {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem;
}

@media (max-width: 640px) {
    #gallery {
        column-count: 1;
    }
    #intro {
        padding: 1rem 5vw;
    }
 }