/* 
    Ross Robino
    Personal Website
    linked to index.html
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

a:link {
    color: #FFF;
}

a:visited {
    color: #FFF;
}

a:hover {
    color: #9e2721;
}

a:active {
    color: #FFF;
}

body {
    color: #0e1317;
    font-family: 'Noto Sans Display', sans-serif;
    cursor: default;
}

footer {
    background-image: url(../images/ep_naturalblack.png);
    color: #FFF;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline-block;
    font-size: 1.5em;
    padding: 1em;
}

#gallery {
    column-count:3;
    column-gap:0;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    display: block;
}

h1 {
    font-size: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 180vh;
    text-align: center;
    font-family: 'Mansalva', sans-serif;
    color: #FFF;
    background-image: url(../images/ep_naturalblack.png);
    position: relative;
}

#intro {
    text-align: center;
    background-color: #9e2721;
    padding: 20vh 5vh;
    color: #FFF;
}

main {
    background-color: #FFF;
}

#skills ul {
    text-align: center;
}

#skills li {
    display: inline-block;
    font-size: 1.5em;
    padding: 1em;
}

/* ----Media Queries---- */
@media only screen and (max-width: 450px) {
    #gallery {
        column-count: 1;
    }
 }